name: Test Kerma Node

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test-node:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Compose
      run: sudo apt-get update && sudo apt-get install -y docker-compose

    - name: Build Docker containers
      run: docker-compose build

    - name: Start Docker containers
      run: docker-compose up -d

    - name: Run tests
      run: make run-tests

    - name: Stop Docker containers
      if: always()
      run: docker-compose down
